# Frontend (Next.js)
NEXT_PUBLIC_SANITY_PROJECT_ID="4dyqldgb"
NEXT_PUBLIC_SANITY_DATASET="production"

# Standalone Studio (dkm-cms-studio)
SANITY_STUDIO_PROJECT_ID="4dyqldgb"
SANITY_STUDIO_DATASET="production"

# Email (Resend)
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
